name: CD pipeline

on:
  workflow_run:
    workflows: ["CI pipeline"]
    types: [completed]
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: version

      - name: Set tag
        run: |
          VERSION=$(cat version.txt)
          echo "IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:$VERSION" >> $GITHUB_ENV

      - run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml

      - run: |
          kubectl set image deployment/weather-deployment weather="$IMAGE"
          kubectl rollout status deployment/weather-deployment --timeout=120s

      - run: |
          kubectl get pods -o wide
          kubectl get deploy -o wide
